body {
    margin: 0;
}

.main {
    display: flex;
}

.first {
    width: 55%;
    height: 700px;
    background-color: #192D35;
}

.second {
    width: 45%;
    height: 700px;
    background-color: #1CBBB4;
}

.logo {
    width: 40px;
}

.logo-text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    padding: 15px;
}

.header-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    width: 350px;
}

.header-content {
    color: white;
    font-family: 'Poppins', sans-serif;

}
.button1{
    width: 125px;
    height: 40px;
    color: white;
    background-color: red;
    border:none;
    
}
.button2{
    width: 125px;
    height: 40px;
    border: none; 
}

.header {
    padding: 100px;
}
.img{
    padding: 100px;
    width: 450px;
}

.button3{
    background-color:red ;
    color: white;
    width: 125px;
    height: 40px;
    border: none;
}
.button4{
    width: 125px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
}

.experience {
    font-family: 'Poppins', sans-serif;
}

.fact {
    font-family: 'Poppins', sans-serif;
}

.fact-container{
    display: flex;
    padding: 50px;
}
.mainfact{
    padding-top: 70px;
    margin-left: 20px;
}
.category {
    font-family: 'Poppins', sans-serif;
    background-color: #1CBBB4;
    padding: 50px;
}
.category-text {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.img-container{
    display: flex;
    margin: 100px;
    justify-content: space-around;

}

.third {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 950px;

}

.hey{
    width: 70%;
    margin: 0 auto;
}
.button5 {
    width: 160px;
    height: 40px;
    color: white;
    background-color: red;
    border:none;
    margin-top: 25px;
}
.main3-img1{
width:100px ;
/* height:60px ; */
}
.main3-img2{
    width:110px ;
    /* height:60px ; */
}
.main3-img3{
    width: 140px;
    /* height:100px ; */
}
.main3-img4{
    width: 85px;
    height: 75px;
}
.main3-img5{
    width: 70px;
    height:80px ;
}
.main3-img6{
    width: 80px;
    height: 65px;
}
.main3-p1{
    color: white;
}
.text-center {
    text-align: center;
}